a{

    text-decoration: none;
    color: black;
    font-size: 25px;
}

button{
    
    display: flex;
    justify-content: center;
    width: 160px;
    padding: 0;
    border: solid;
    border-radius: 20px;
}

ul{
    width: 1218px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px 0 5px 0;
    border: solid;
    border-width: 3px 0 3px 0;
    padding-left: 45px;
}
